.container{
  // height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-form{
  width: 900px;
  height: 550px;
  text-align: center;
  margin: auto;
  border: 2px solid #f429b7;
  border-radius: 10px;
  border-radius: 10px;
  background-color: aliceblue;
}
.form-field{
 width: 400px;
}
.form-field1{
  width: 800px;
}
.mat-toolbar{
  border-radius: 10Px;
}
.mat-toolbar1{
  background-color: hotpink;
}
